<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.seckill.mapper.GoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxx.seckill.pojo.Goods">
        <result column="id" property="id"/>
        <result column="good_name" property="goodName"/>
        <result column="good_title" property="goodTitle"/>
        <result column="good_img" property="goodImg"/>
        <result column="good_detail" property="goodDetail"/>
        <result column="good_price" property="goodPrice"/>
        <result column="good_stock" property="goodStock"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, goods_name, goods_title, goods_img, goods_detail, goods_price, goods_stock
    </sql>


    <select id="findGoodsVo" resultType="com.xxxx.seckill.vo.GoodsVo">
        SELECT
            g.`id`,
            g.`goods_detail`,
            g.`goods_img`,
            g.`goods_name`,
            g.`goods_price`,
            g.`goods_stock`,
            g.`goods_title`,
            sg.`seckill_price`,
            sg.`stock_count`,
            sg.`start_date`,
            sg.`end_date`
        FROM
            t_goods g
            LEFT JOIN t_seckill_goods AS sg ON g.id = sg.`goods_id`
    </select>
    <select id="findGoodsVoByGoodsId" resultType="com.xxxx.seckill.vo.GoodsVo">
        SELECT
            g.`id`,
            g.`goods_detail`,
            g.`goods_img`,
            g.`goods_name`,
            g.`goods_price`,
            g.`goods_stock`,
            g.`goods_title`,
            sg.`seckill_price`,
            sg.`stock_count`,
            sg.`start_date`,
            sg.`end_date`
        FROM
            t_goods g
            LEFT JOIN t_seckill_goods AS sg ON g.id = sg.`goods_id`
        WHERE
            g.`id` = #{goodsId}
    </select>


</mapper>
