<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.seckill.mapper.SecKillOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxx.seckill.pojo.SecKillOrder">
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="good_id" property="goodId" />
        <result column="order_id" property="orderId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        user_id, good_id, order_id
    </sql>
    <select id="selectOneByGoodIdAndUserId" resultType="com.xxxx.seckill.pojo.SecKillOrder">


    </select>

</mapper>
